<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="bundle.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="lobby">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="favorite-game-screen">
            <form id="add-game-form">
                <p>Manage Favorite Games</p>
                <div class="game-description-box">
                   <p class="game-name">
                       Add Game: 
                       <input class="add-name" type="text" placeholder="Favorite Game">
                       <button class="favorite-game-button" type="submit">Add</button>
                   </p>
                   <p class="my-game-list"> My Favorite Games: </p>
                   <ul class="my-favorite-games-list"> 
                        <li>
                            <label class="favorite-game-checkbox" for="favorite-checkbox"></label>
                            <input id="favorite-game-checkbox" style="display:none" type="checkbox"> 
                        </li>
                    </ul>
                    <div class="delete-favorite-games-wrapper">
                        <button id="delete-favorite-games-id" class="delete-favorite-games-button" type="submit">Delete Selected Games </button>
                    </div>
                </div>
                <a class="cancel-button return-to-lobby" href="lobby.html" type="submit">Back to Lobby</a>
            </form>
        </div>
        
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="http://js.leapmotion.com/leap-0.6.4.js"></script>
        <script src="jquery.ui.touch-punch.js"></script>
        <script src="jquery.simulate.js"></script>
        <script src="leap.js"></script>
    </body>
</html>
