<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Virtual Ace</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="bundle.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="lobby">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <div class="nav-wrapper">
        </div>
        <div class="level-screen" style="width: 500px">
            <h1>Leap Motion Help</h1>
            All 3 levels explained:
            <video controls style="width:460px"><source src="/tutorial/all.mp4" type="video/mp4"></video>
			<br><br><br>
			Leap Motion tutorial<br><br>
            <div class="okay">
                <a class="okay-button" href="/tutorial/" style="zoom:2">Begin Complete Tutorial</a><br>
                <a class="okay-button" href="/tutorial/1.html">Begin Tutorial on Cards</a>
            </div> 
            
            <br><br>
            <div class="cancel">
                <a class="cancel-button" href="level.html">Back to Level Select</a>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
