<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Virtual Ace</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="bundle.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="lobby">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <div class="nav-wrapper">
            <div class="help">
                <a class="help-button" href="help.html">(?)Help</a>
            </div>
        </div>
        <div class="level-screen">
            <p>Choose Level</p>
            <form id="level-form" action="lobby.html">
                <input id="level1" class="level-select" name="level-name" value="1" type="radio">
                <label for="level1">Level 1</label>
                <input id="level2" class="level-select" name="level-name" value="2" type="radio">
                <label for="level2">Level 2</label>
                <input id="level3" class="level-select" name="level-name" value="3" type="radio">
                <label for="level3">Level 3</label>
                <button class="okay-button" type="submit">Okay</button>
            </form>
       
           <!--  <div class="okay">
                <a class="okay-button" href="lobby.html">Okay</a>
            </div> -->
            <div class="cancel">
                <a class="cancel-button" href="lobby.html">Cancel</a>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="jAlert-v2.js"></script>
        <script src="jAlert-v2.css"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
