<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Virtual Ace</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="bundle.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="lobby">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="nav-wrapper">
            
            <div class="help">
                
                    <a id="logout-id" class="logout-button" action="/index.html" >Logout</a>
                
            </div>
            <div class="help">
                <a class="help-button" href="lobby-help.html">(?)Help</a>
            </div>

            <div class="begin">
                <a id="begin-game" class="begin-game" href="/table.html">Begin Game</a>
                
            </div>
            <div class="level">
                <a class="choose-level" href="level.html">Choose Level</a>
            </div>
             <div class="favorite-game">
                <form id="favorite-game-form" action="lobby.html">
                    <input class="add-favorite-game" type="text" placeholder="Favorite Game">
                    <button class="add-favorite-game-button" type="submit">Add Favorite Game</button>
                </form>
                <div class="favorite-game-errors">
                </div>
                <!-- <a class="add-favorite-game" href="add-favorite-game.html">Add Favorite Game</a> -->
            </div>
            <div class="current-level"> </div>
            <div class="username-holder">
                <p class="username-place-holder"> </p>
            </div>
            <div class="my-favorite-games">
                <p class="my-favorite-game-list"> My Favorite Games: </p>
                <div class="choose-game-errors">
                </div>
            </div>
            
            
        </div>
        
        <div class="users-games">
            <div class="users">
                <p class="user-title">Users Online</p>
                <div class="users-online">
                   
                    <ul  class="object-list">  
                        <li class="user-list">
                            
                            <label class="online-users-checkbox" for="users-checkbox"></label>
                            <input class="users-select"  id="users-checkbox" name="user" type="checkbox"/>
                           
                             
                        </li>
                    </ul>
                </div>
            </div>
            <div class="games">
                <p class="game-title">Games</p>
                <div class="games-available">
                   <!--  <p> My Favorite Games: </p> -->
                    <ul class="object-list"> 
                        <li>
                            <label class="online-users-checkbox" for="games-checkbox"></label>
                            <input id="games-checkbox" style="display:none" name="games-list" type="radio"> 
                        </li>

                    </ul>

                </div>
                <!-- <p> My Favorite Games: </p> -->
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		<script src="http://js.leapmotion.com/leap-0.6.4.js"></script>
		<script src="jquery.ui.touch-punch.js"></script>
		<script src="jquery.simulate.js"></script>
		<script src="leap.js"></script>

    </body>
</html>
