<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="bundle.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="lobby-help">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="back-to-lobby">
            <a class="to-lobby" href="/lobby.html">Back</a>
        </div>
        <div class="help-screen">
            <div class="help-content">
                <p class="help-text">Help</p>
                <p class="help-body"> Please enter your favorite games in the top right side of the screen.  </br> </br>
                Choose which users you would like to invite to your game by checking off the boxes next to their username.  </br> </br>
                Choose which game you would like to play by checking off the box next to the game you would like to play.</br> </br>
                In order to customize your level please press the Choose Level button in the upper right corner.</br> </br>
                Press Begin Game when you are ready to play.</p>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="jAlert-v2.js"></script>
        <script src="jAlert-v2.css"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>


    </body>
</html>
