<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8" />
    <title>Virtual Ace</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link rel="stylesheet" type="text/css" href="table.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="cards.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="jAlert-v2.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie.css" media="screen" />
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie9.css" media="screen" />
    <![endif]-->
	<script src="bundle.js"></script>
	<link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script src="http://code.jquery.com/jquery-1.11.2.js"></script>
	<script src="jquery-ui.js"></script>
    <script src="http://js.leapmotion.com/leap-0.6.4.js"></script>
    <script src="jquery.ui.touch-punch.js"></script>
    <script src="jquery.simulate.js"></script>
    <script src='jAlert-v2.js'></script>
    <script src="leap.js"></script>
    <script src="table.js"></script>
	
</head>

<body>
	<header></header>
	<article id="bounds">
	<section class='playingCards'>
	<div id="table" class="droppable" data-location='table'>
	</div>
	<div id="hand">
	<!--
		<div data-card="10D" class="card rank-10 diams"><span class="rank">10</span><span class="suit">&diams;</span></div>
		<div data-card="JD" class="card rank-j diams"><span class="rank">J</span><span class="suit">&diams;</span></div>
		-->
	</div>
	</section>
	<aside class='playingCards inText'>
		<div id="owner"></div>
		
		<div id="dhand">
		
		</div>
	</aside>
	</article>
	<footer>
	
	<div class="button finish">Finish Game</div>
	<div id="gameNameWrapper">
        <div id="gameName"></div>
    </div>
	
	<div class="button next">Next Player</div>
	</footer>
</body>
</html>
